.App {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.App-logo img {
  height: 50px;
  margin-top: 10px;
}

.App-header {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  padding: 20px 0 20px 30px;
  background-color: #656B74;
  color: #B2CFEA;
}
