a {
  text-decoration: none;
}

.App {
  color: #656B74;
  font-family: 'Open Sans', sans-serif;
}

.App-logo img {
  height: 50px;
  margin-top: 10px;
}

.App-header {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  padding: 20px 0 20px 30px;
  background-color: #656B74;
  color: #B2CFEA;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.View {
  padding: 20px;
  display: flex;
}

.Calendar {
  padding: 10px;
  max-width: 30%;
  min-width: 175px;
}

.DayView {
  padding: 10px;
  max-width: 30%;
  min-width: 175px;
}

.Averages {
  padding: 10px;
  max-width: 30%;
  min-width: 175px;
}

button {
  border: none;
}

button:focus {
  border: none;
}

.Footer__horizontal-list a:not(:last-child)::after {
    content: ' | ';
}

.Footer {
  padding: 30px;
}

.Footer a:hover {
  text-decoration: none;
}
